{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
            <h3 style="font-weight:bold">Couldn't find this page</h3>
            <div class="row">
                <p>You can return to the homepage <a href="./">here</a>.</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}