<html lang="en-GB">
  <head>
    {% if html_title %}<title>{{ html_title }}</title>{% else %}<title>FX App</title>{% endif %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">  

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
      /* branding colours */
      .dropdown-content li > a, .dropdown-content li > span, .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) { color: #0D47A1; }
      nav { background-color: #0D47A1; }
      .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover { color: #1976D2 }
      body { min-height: 100%; background-color: #F5F5F5 }
      /* misc */
      nav .brand-logo { padding-left: 10px; }
    </style>
  </head>
  <body>
    <ul id="selectedCurrencyDropdown" class="dropdown-content" style="margin-top: 64px !important">
      {% for currency in currency_options %}
      <li><a href="./change-current?new={{currency}}&return=#">{{ currency }}</a></li>
      {% endfor %}
    </ul>
    <ul id="selectedUserDropdown" class="dropdown-content" style="margin-top: 64px !important">
      {% if logged_in %}
      <li><a href="./logout?return=#">Logout</a></li>
      {% else %}
      <li><a href="#loginModal" class="modal-trigger-login modal-trigger" id="loginModalTrigger">Login</a></li>
      {% endif %}
    </ul>
    {% include 'login.modal.html' %}
    <nav>
      <div class="nav-wrapper">
        <a href="/#" class="brand-logo">ChiFx</a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a class="dropdown-currency" href="#!" data-activates="selectedCurrencyDropdown">
                <strong>{{ current_currency }}</strong>
                <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
          <li>
            <a class="dropdown-user" data-activates="selectedUserDropdown">
              <i class="material-icons">account_circle</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    {% block content %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(() => {
            $(".dropdown-currency").dropdown();
            $(".dropdown-user").dropdown();
            $(".modal").modal();

        });
    </script>
  </body>
</html>
