{% extends "base.html" %}
{% block content %}
<div class="container">
  {% for base_currency in currency_options %}
  <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <h3 style="width: 49%; display: inline-block">{{ base_currency }}</h3>
          <h4 class="right-align" style="width: 50%; display: inline-block; font-weight: bold">Buy: {{ raw_currency_options[current_currency][base_currency] }}
          <br />Sell: {{ raw_currency_options[base_currency][current_currency] }}</h4>
        </div>
        
        <div class="card-action">
          <a href="/buy?to={{ base_currency }}">Buy</a>
          <a href="/sell?to={{ base_currency }}">Sell</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}