<div id="loginModal" class="modal">
    <div class="modal-content">
        <h4>Login</h4>
        <form action="./login" method="GET" id="loginModalForm">
            <label for="pwd">Admin password</label>
            <input type="password" name="pwd" id="pwd" />
            <input type="hidden" name="return" id="return" value="#" />
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="document.getElementById('loginModalForm').submit();">Login</a>
    </div>
</div>