{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
            <h3 style="font-weight:bold">{{ result_currency }} to {{ current_currency }}</h3>
            {% if logged_in %}
                <strong>Current Rate:</strong>
                <form action="/update-rate" style="display: inline; padding-left: 5px;">
                    <input type="text" name="amount" value="{{ rate }}" id="newRateValue" style="width: 15%" />
                    <input type="hidden" name="from" value="{{ result_currency }}" id="fromRate" />
                    <input type="hidden" name="to" value="{{ current_currency }}" id="toRate" />
                    <input type="hidden" name="return" value="#" />
                    <button class="btn waves-effect waves-light blue" type="submit">Submit</button>
                </form>
                {% else %}
                <h4><strong>Current Rate:</strong>{{ rate }}</h4>
                {% endif %}
            <div class="row">
                <div class="s6">
                    <img src="./buy-sell-compare.png?from={{ result_currency }}&to={{ current_currency }}" style="margin: auto; display: block; max-width: 100%;" />
                </div>
            </div>
            <div class="row">
                <form action="get" id="convert" class="col s12">
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <label for="from">From</label>
                            <input type="number" name="from" id="from" placeholder="0.00" style="font-size: 3em" /> <!-- input#from -->
                        </div>
                        <div class="input-field col s12 m6">
                            <label for="from">To</label>
                            <input type="number" name="to" id="to" placeholder="0.00" style="font-size: 3em" step="0.01" disabled /> <!-- input#to -->
                        </div>
                        <div class="right">
                            <a class="waves-effect waves-light btn-large blue" href="./">Sell</a>
                            <a class="waves-effect waves-light btn-large grey" href="./">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
          <script>
              /**
                * Use the input text field and the selected currency to get
                * the converted value from the python backend.
              */
              // references the elements input#from and input#to
              var currencyInput = document.getElementById("from");
              var currencyOutput = document.getElementById("to");

              // the event listener runs the function whenever the input#from input changes
              currencyInput.addEventListener("input", function(){
                  var req = new XMLHttpRequest();
                  // once any request is ready, if it worked, change the input#to value to the converted amount
                  req.onreadystatechange = function() {
                      if(req.readyState === 4 && req.status == "200") {
                          currencyOutput.value = req.responseText;
                      }
                  }
                  // make a request to the amount converter backend endpoint, with our parameters
                  req.open("GET", "/get-converted-amount?from={{ result_currency }}&to={{ current_currency }}&amount=" + currencyInput.value, true);
                  req.send(null); // null is sent because we have no further information to send
              })
          </script>
      </div>
    </div>
  </div>
</div>
{% endblock %}